/*
| ----------------------- | -------------- | ------------------------------------------- |
| 🩷 **Fucsia principal** | `#C9005B`      | Botones, títulos destacados, secciones      |
| 🌸 **Rosa fuerte**      | `#D41467`      | Fondo de la sección "Somos tu aliado"       |
| 🌷 **Rosa claro**       | `#FAD9DC`      | Fondos suaves, footer                       |
| 🌸 **Rosa muy claro**   | `#FFF1F3`      | Fondo principal del sitio                   |
| ⚪ **Blanco**            | `#FFFFFF`      | Tarjetas, navbar, contenido                 |
| ⚫ **Negro**             | `#050505`      | Texto y modo alto contraste                 |
| 🔵 **Azul/cian**        | `#35BDEB`      | Líneas, indicadores y elementos secundarios |
| 🟡 **Amarillo**         | `#FFD43B`      | Accesibilidad / LSC                         |
| 🩷 **Rosa suave**       | `#F3A6B8`      | Elementos decorativos y estados secundarios |
| 🟢 **Verde**            | `#35B98A`      | Indicadores de disponibilidad/aliados       |
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: #fff1f3;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.2rem 2rem;
  margin: 0 auto;
  background-color: #fad9dc;
  border-bottom: 4px solid #f3a6b8;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1000;
}

.logo-container {
  flex: 1;
  .logo {
    width: 150px;
  }
}

.menu ul {
  display: flex;
  justify-content: center; /* centra horizontalmente */
  list-style: none;
  gap: 60px 50px;
}

.menu ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  transition:
    color 0.3s ease,
    border-bottom 0.3s ease;
}

.menu ul li a:hover {
  color: #d41467;
}

.prin {
  background-image: radial-gradient(circle, #fad9dc 55%, #ffffff7c 100%);
  background-position: center center;
  text-align: left;
  overflow: hidden;
  padding: 100px 150px;
  position: relative;
}

.texto-principal {
  max-width: 650px;
}

.texto-principal h2 {
  font-size: 18px;
  font-weight: 300;
  color: #c9005b;
  margin-bottom: 15px;
}

.titulo-prin {
  font-size: 75px;
  line-height: 1.1;
}

.palabras-color {
  color: #c9005b;
}

.texto-principal p {
  width: 70%;
  margin-top: 20px;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 400;
  padding-bottom: 10px;

  border-bottom: 5px solid;
  border-image: linear-gradient(
      to right,
      #35bdeb,
      #f3a6b8,
      #ffffff,
      #f3a6b8,
      #35bdeb
    )
    1;
}

.btns-hero {
  margin-top: 25px;
}

.btns-hero ul {
  display: flex;
  gap: 15px;
  align-items: center;
  list-style: none;
}

.btns-hero a {
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s ease;
}

.btn-prim {
  background-color: #c9005b;
  color: #ffffff;
}

.btn-sec {
  background-color: #ffffff;
  color: #c9005b;
  border: 2px solid #c9005b;
}

.btns-hero a:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}

.texto-2 {
  display: flex;
  gap: 40px;
  margin-top: 35px;
}

.texto-2 article {
  font-size: 20px;
  font-weight: bold;
  color: #c9005b;
}

.imagen-hero {
  position: absolute;
  right: 100px;
  top: 30px;
  width: 40%;
  text-align: center;
}

.modelo1 {
  width: 450px;
  margin: 20px;
  border: 3px solid #d41467;
  border-radius: 10px;
}

main {
  padding-bottom: 30px;
}

#servicios {
  padding: 50px;
  text-align: center;
  overflow: hidden;
}

#servicios h2 {
  font-size: 35px;
}

#imagen-servicios {
  width: 450px;
  margin: 20px;
  border: 3px solid #d41467;
  border-radius: 10px;
}

.servicio-principal {
  margin-bottom: 40px;
}

.servicio-principal span {
  color: #d41467;
  font-size: 18px;
}

.servicio-principal h3 {
  font-size: 30px;
  margin: 10px;
}

.servicio-principal p {
  font-size: 15px;
  color: #555555;
}

.contenedor-servicios-tarjetas {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.servicios-tarjetas {
  width: 25%;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  transition: 0.3s ease;
}

.servicios-tarjetas:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.servicios-tarjetas span {
  color: #c9005b;
  font-weight: bold;
}

.servicios-tarjetas h3 {
  font-size: 20px;
}

.servicios-tarjetas p {
  font-size: 14px;
}

.servicios-aliados {
  width: 70%;
  margin: 30px auto;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  transition: 0.3s ease;
}

.servicios-aliados > a {
  text-decoration: none;
  color: #d41467;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  transition: color 0.3s ease;
}

.servicios-aliados > a:hover {
  color: #f3a6b8;
}

.servicios-aliados:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

#aliados {
  padding: 50px;
  text-align: center;
}

#aliados h2 {
  font-size: 35px;
}

.aliados-principal {
  margin-bottom: 40px;
}

.aliados-principal span {
  color: #d41467;
  font-size: 18px;
  font-weight: bold;
}

.aliados-principal h3 {
  font-size: 30px;
  margin: 10px;
}

.aliados-principal p {
  font-size: 15px;
  color: #555555;
}

.contenedor-aliados-tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.aliado {
  width: 28%;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  transition: 0.3s ease;
}

.aliado:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.aliado h3 {
  font-size: 20px;
}

.aliado p {
  font-size: 14px;
  color: #555555;
}

.aliado a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.aliado a:hover {
  color: #d41467;
}

#nosotros {
  padding: 50px;
  text-align: center;
}

#nosotros h2 {
  font-size: 35px;
}

.nosotros-principal {
  margin-bottom: 40px;
}

.nosotros-principal span {
  color: #d41467;
  font-size: 18px;
  font-weight: bold;
}

.nosotros-principal h3 {
  font-size: 30px;
  margin: 10px;
}

.nosotros-principal p {
  font-size: 15px;
  color: #555555;
  max-width: 800px;
  margin: auto;
}

.contenedor-nosotros-tarjetas {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nosotros-tarjetas {
  width: 40%;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  transition: 0.3s ease;
}

.nosotros-tarjetas:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.nosotros-tarjetas h3 {
  font-size: 22px;
}

.nosotros-tarjetas p {
  font-size: 15px;
  color: #000000;
  line-height: 1.6;
}

footer {
  display: flex;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fad9dc;
  border-top: 4px solid #f3a6b8;
  height: 40px;
  padding: 1rem 2rem;
}
